.side-info{
   background: linear-gradient(225deg, rgb(90, 94, 116), rgb(24, 25, 31));
   padding: 30px;
   margin: 0 0 20px 0;
   border-radius: 10px;
   box-shadow: 0 10px 12px -5px rgba(0,0,0,0.4);
   position: relative;
   transition: 0.5s ease;
}
.side-info-item{
  margin-bottom: 30px;
  box-shadow: 0 10px 22px 0px rgba(0,0,0,0.4);
  padding: 10px 20px;
}
.side-info-item:last-child{
   margin-bottom: 0;
}
.side-info-date{
   font-weight: thin;
   font-size: 18px;
   color: rgba(255,255,255,0.6);
}
.side-info-sum{
   font-weight: bold;
   font-size: 19px;
}