.income-item{
   background: linear-gradient(225deg, rgb(66, 69, 85), rgb(24, 25, 31));
   padding: 30px;
   margin: 0 0 20px 0;
   border-radius: 10px;
   box-shadow: 0 10px 12px -5px rgba(0,0,0,0.4);
   position: relative;
   transition: 0.5s ease;
}
.income-item:hover{
   box-shadow: 0 20px 22px -5px rgba(0,0,0,0.4);
   transform: translateY(-7px);
}
.income-sum{
   position: absolute;
   right: 30px;
   top: 10px;
   font-weight: bold;
   font-size: 18px;
   color: #ffffff;
}
.income-sum span{
   font-size: 13px;
}
.income-info{
   font-weight: 400;
   margin: 25px 30px 0 0;
   color: rgba(255,255,255,0.6);
}
.income-date{
   display: inline;
   background: linear-gradient(225deg, #ffffff, rgb(168, 168, 168));
   font-size: 13px;
   letter-spacing: 1px;
   padding: 4px 13px;
   border-radius: 3px;
   margin: 0;
   color: #222;
}
.closebtn, .editbtn{
   display: block;
   text-align: center;
   background: linear-gradient(225deg, rgb(66, 69, 85), rgb(24, 25, 31));
   padding: 10px 20px;
   margin-top: 10px;
   cursor: pointer;
   border-radius: 5px;
   color: silver;
   text-transform: uppercase;
   font-size: 9px;
   letter-spacing: 1.3px;
   font-weight: bold;
   box-shadow: 0 8px 10px -5px #202237;
   opacity: 0;
   transform: translateY(30px);
   visibility: hidden;
   transition: 0.5s;
}
.income-options{
   position: absolute;
   right: -110px;
   bottom: 0;
}
.open-btn{
   position: absolute;
   height: 30px;
   width: 10px;
   cursor: pointer;
}
.income-options-open-btn{
   left: -47px;
   bottom: -5px;
   padding: 30px 40px 30px 10px;
}
.open-btn-dots{
   position: absolute;
   top: 50%;
   transform: translate(-50%, -50%);
   width: 4px;
   height: 4px;
   background-color: gray;
   border-radius: 100%;
   transition: 0.5s;
}
.open-btn-dots:after,
.open-btn-dots:before{
   content: "";
   position: absolute;
   width: 4px;
   height: 4px;
   background-color: gray;
   border-radius: 100%;
   transition: 0.5s;
}
.open-btn-dots:after{
   top: -7px;
}
.open-btn-dots:before{
   top: 7px;
}
.income-options-open-btn:hover .open-btn-dots,
.income-options-open-btn:hover .open-btn-dots:after,
.income-options-open-btn:hover .open-btn-dots:before{
   background-color: white;
}
.income-options-open-btn:hover ~ .closebtn,
.income-options-open-btn:hover ~ .editbtn,
.closebtn:hover,
.editbtn:hover{
   opacity: 1;
   transform: translateY(0);
   visibility: visible;
}
