.app-wrapper {
   background: linear-gradient(230deg, #5F6985, #1C2232);
   min-height: 100vh;
   display: flex;
   color: white;
   position: relative;
}

/*////////////////////////////////////////////////////////////*/

.list-place{
   position: relative;
   padding-left: 430px;
}

/*////////////////////////////////////////////////////////////*/

.income-edit-form{
   width: 350px;
   background: linear-gradient(-45deg, rgba(15, 15, 15, 1) 20%, #4e789b 170%);
   position: fixed;
   border-radius: 10px;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -40%);
   padding: 20px 30px;
   opacity: 0;
   visibility: hidden;
   transition: 0.5s ease-in-out;
}
.edit-form-header{
   color: white;
   margin-bottom: 50px;
}
.income-edit-form input,
.income-edit-form textarea{
   box-sizing: border-box;
   width: 50%;
   background-color: transparent;
   border: 1px solid rgba(255, 255, 255, 0.4);
   resize: none;
   color: white;
   margin-bottom: 20px;
   padding: 10px;
}
.income-edit-form textarea{
   font-family: "Roboto", sans-serif;
   min-width: 100%;
   height: 50px;
}
.save-button,
.close-button{
   cursor: pointer;
   color: white;
   margin-right: 20px;
}

/*////////////////////////////////////////////////////////////*/

.option-menu{
   background: linear-gradient(225deg, #282d43, #16192C);
   position: fixed;
   top: 50px;
   left: 100px;
   width: 300px;
   border-radius: 7px;
}
.option-menu-item{
   padding: 40px 0;
}
.option-button{
   display: block;
   cursor: pointer;
   color: white;
   padding: 14px 20px;
   transition: 0.5s ease;
}
.option-button:hover{
   background-color: rgba(255, 255, 255, 0.25);
}